{% extends 'base.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <h1>
        Register your company
    </h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.name, {
        label: 'Company name'
    }) }}
    {{ form_row(registrationForm.field, {
        label: 'Company field'
    }) }}
    {{ form_row(registrationForm.employees, {
        label: 'Number of employees'
    }) }}
    {{ form_row(registrationForm.username, {
        label: 'Username'
    }) }}
    {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

    {{ form_row(registrationForm.agreeTerms, {
        label: 'Agree to Terms and Conditions'
    }) }}

    <button type="submit" class="btn btn-outline-primary">
        Register
    </button>
    {{ form_end(registrationForm) }}
{% endblock %}
