{% extends 'base.html.twig' %}

{% block title %}
    New Job Offer
{% endblock %}

{% block body %}
    <h1>
        Register your company's new job offer
    </h1>

    {{form(jobOffersForm)}}

  


    
{% endblock %}




{# {{ form_start(jobOffersForm) }}
    {{ form_row(jobOffersForm.title, {
        label: 'Job Title'
    }) }}
    {{ form_row(jobOffersForm.date, {
        label: 'Date'
    }) }}
    {{ form_row(jobOffersForm.city, {
        label: 'City'
    }) }}
    {{ form_row(jobOffersForm.contract, {
        label: 'Type of contract'
    }) }}
    {{ form_row(jobOffersForm.description, {
            label: 'Job description'
        }) }}
    {{ form_row(jobOffersForm.requirements, {
        label: 'Job requirements'
    }) }}
    {{ form_row(jobOffersForm.apply, {
            label: 'Apply to'
        }) }}



    <button type="submit" class="btn">
        Submit job offer
    </button>
    {{ form_end(jobOffersForm) }} #}