{% extends "base.html.twig" %}

{% block body %}

    <h1>Jobs<h1>
        <div class="container">
                <div class="card mx-auto">
                    <ul>

                        {% for job in jobs %}

                            <li>

                                <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                                    <div class="card-header">
                                        {{ job.title }}
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            {{ job.date |date('d/m/Y') }}
                                        </h4>
                                        <p class="card-text">
                                            {{ job.city }}
                                            {{ job.contract }}
                                        </p>
                                        <a href="{{ path('getJobOffer', {'id': job.id}) }}" class="btn btn-outline-info">
                                            Show more
                                        </a>
                                        <a href="{{ path('updateJobOffer', {'id': job.id}) }}" class="btn btn-outline-info">
                                            Update
                                        </a>
                                        <a href="{{ path('deleteJobOffer', {'id': job.id}) }}" class="btn btn-outline-danger">
                                            Delete
                                        </a>
                                    </div>
                                </div>

                            </li>

                        {% endfor %}
                    </ul>
                </div>
            </div>

        {% endblock %}
        {# 
                                
                                <ul>
                                
                                    {% for job in jobs %}
                                
                                        <li>
                                            {{ job.title }}
                                            {{ job.date |date('Y-m-d') }}
                                            {{ job.city }}
                                            {{ job.contract }}
                                            {{ job.description }}
                                            {{ job.requirements }}
                                            {{ job.apply }}
                                        </li>
                                
                                    {% endfor %}
                                </ul> #}
        