
{% extends 'base.html.twig' %}

{% block title %}
    New Job Offer
{% endblock %}

{% block body %}
     
<h2>{{job.title}}</h2>
<p>{{ job.date |date('d/m/Y') }}</p>
<h3>{{ job.city }}</h3>
<p><br>{{ job.contract }}</br></p>
<p><u>Description:</u>{{ job.description }}</p>
<p><u>Requirements:</u>{{ job.requirements }}</p>
<p><i>Send your CV to:{{ job.apply }}</i></p>

{% endblock %}
